@charset "UTF-8";
/* ハンバーガーメニュー詳細CSSーーーーーーーーーーーー */
.hamburger-morph {
    /* position: absolute; */
    top: 40px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: #fff;
    padding: 2px;
    border-radius:30% ;
  }
  
  .hamburger-morph__icon {
    width: 100%;
    height: 100%;
  }
  
  .hamburger-morph__line {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hamburger-morph__line:nth-child(1) {
    stroke-dasharray: 60 207;
  }
  
  .hamburger-morph__line:nth-child(2) {
    stroke-dasharray: 60 60;
  }
  
  .hamburger-morph__line:nth-child(3) {
    stroke-dasharray: 60 207;
  }
  
  .hamburger-morph.active .hamburger-morph__line:nth-child(1) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  
  .hamburger-morph.active .hamburger-morph__line:nth-child(2) {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
  
  .hamburger-morph.active .hamburger-morph__line:nth-child(3) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }

  .nav-morph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: circle(0% at calc(100% - 44px) 44px);
    transition: clip-path 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 900;
    background-image: url(../img/bg03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .nav-morph.active {
    clip-path: circle(150% at calc(100% - 44px) 44px);
  }
  
  .nav-morph__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
  }
  
  .nav-morph__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .nav-morph__item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .nav-morph.active .nav-morph__item {
    opacity: 1;
    transform: translateY(0);
  }
  
  .nav-morph.active .nav-morph__item:nth-child(1) { transition-delay: 0.3s; }
  .nav-morph.active .nav-morph__item:nth-child(2) { transition-delay: 0.4s; }
  .nav-morph.active .nav-morph__item:nth-child(3) { transition-delay: 0.5s; }
  .nav-morph.active .nav-morph__item:nth-child(4) { transition-delay: 0.6s; }
  .nav-morph.active .nav-morph__item:nth-child(5) { transition-delay: 0.7s; }
  .nav-morph.active .nav-morph__item:nth-child(6) { transition-delay: 0.8s; }
  .nav-morph.active .nav-morph__item:nth-child(7) { transition-delay: 0.9s; }
  .nav-morph.active .nav-morph__item:nth-child(8) { transition-delay: 0.10s; }
  .nav-morph.active .nav-morph__item:nth-child(9) { transition-delay: 0.11s; }
  .nav-morph.active .nav-morph__item:nth-child(10) { transition-delay: 0.12s; }
  .nav-morph.active .nav-morph__item:nth-child(11) { transition-delay: 0.13s; }
  
  .nav-morph__link {
    position: relative;
    display: inline-block;
    padding: 2px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-indent:3rem;
    font-family: Noto Serif JP;
    line-height: 35px;
    overflow: hidden;
    text-align: left;
    border-bottom: 0.5px solid #b0b0b0!important;
    width: 100%;
  }
  

  /* スワイプ -------------------------*/

  /* タブ ーーーーーーーーーーーーーーーーーーーーーーー*/
  .sec11_tab_list {
    display: flex;
    justify-content: space-between;
  }
  .sec11_tab_item {
    width: calc(100%/3);
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    background: #F6EDD3;
    color: #CBB482;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
    box-shadow: 0px 1px 1px rgb(31, 31, 31);
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 10%;
    text-align: center;
    
  }
  .sec11_tab_item:first-child {
    background: #F6EDD3;

  }
  .sec11_tab_item:nth-child(2) {
    background: #F6EDD3;

  }
  .sec11_tab_item:nth-child(3) {
    background: #F6EDD3;

  }
  
  /* タブをクリックした時 ホバーした時 */
  .sec11_tab_item:hover,
  .sec11_tab_item.is-active {
    color: #99743C;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 30.29%, rgba(0, 0, 0, 0) 60.58%, rgba(0, 0, 0, 0.16) 100%);
    
  }
  .sec11_tab_item:first-child:hover,
  .sec11_tab_item:first-child.is-active {
    background: linear-gradient(270deg, #F8D7A2 3.41%, #FFFDDF 26.47%, #F8D7A2 43.76%, #EBD78E 60.09%, #FFF5DD 81.7%, #EBD78E 98.99%),
linear-gradient(0deg, rgba(203, 180, 130, 0.44), rgba(203, 180, 130, 0.44));

  }
  .sec11_tab_item:nth-child(2):hover,
  .sec11_tab_item:nth-child(2).is-active {
    background: linear-gradient(270deg, #F8D7A2 3.41%, #FFFDDF 26.47%, #F8D7A2 43.76%, #EBD78E 60.09%, #FFF5DD 81.7%, #EBD78E 98.99%),
linear-gradient(0deg, rgba(203, 180, 130, 0.44), rgba(203, 180, 130, 0.44));

  }
  .sec11_tab_item:nth-child(3):hover,
  .sec11_tab_item:nth-child(3).is-active {
    background: linear-gradient(270deg, #F8D7A2 3.41%, #FFFDDF 26.47%, #F8D7A2 43.76%, #EBD78E 60.09%, #FFF5DD 81.7%, #EBD78E 98.99%),
linear-gradient(0deg, rgba(203, 180, 130, 0.44), rgba(203, 180, 130, 0.44));

  }
  
  /* パネル */
  .sec11_panel_list {
    background-color: #fff;
  }
  .sec11_panel_item {
    display: none;
    width: 100%;
    background-color: #fff;
  }
  .sec11_panel_item.is-active {
    display: block;
    animation: panel-show .9s ease-in-out forwards;
  }
  
  /* パネル切り替えのアニメーション */
  @keyframes panel-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* アコーディオン？ 切り替わりバージョン*/
.sec07_accordion-item {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.sec07_accordion-header {
  position: relative;
  cursor: pointer;
  display: block;
}

.sec07_accordion-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.sec07_accordion-item.active .sec07_accordion-body {
  max-height: 1000px; /* 充分に大きい数値 */
  opacity: 1;
}

/* アコーディオンよくある質問 */

.sec09_faq_container {
  max-width: 90%;
  margin: 0 auto;

  border-radius: 12px;
}

.sec09_faq-item {
  margin-bottom: 1.2rem;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #99743C;
  transition: box-shadow 0.3s;
}
.sec09_faq-item:last-child{
  margin-bottom: 0rem;
}
.sec09_faq-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sec09_faq_heading {
  padding: 1.2rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  background: #ffffff;
  display: flex;
  justify-content: space-between;

}
.sec09_faq_heading p{
  font-style: Bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 3px;
  color: #99743C;
}
.sec09_accordion_content p{
  letter-spacing: 3px;
  font-size: 15px;
}
.sec09_faq_heading span {
  color: #e3006e;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.sec09_faq_heading::after {
  content: '　';
  font-size: 1.4rem;
  color: #666;
  transition: transform 0.3s ease;
  background-image: url(../img/arrow04.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.sec09_faq_heading.active::after {
  content: '　';
  transform: rotate(180deg);
}

.sec09_accordion_content {
  padding: 1rem 1.5rem;
  display: none;
  font-family: Noto Serif JP;
  font-style: Regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 10%;  
  background: #ffffff;
  border-top: 1px solid #99743C;
  margin: 5px;
}