@charset "UTF-8";

html{
font-size:62.5%;
/* 1rem=10px */
}
img{
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}
/* 背景固定 ーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pc_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* 背景ロゴ */
.background_logo{
  max-width: 200px;
  width: 100%; 
  height: auto;

}
/*PC表示メニュー*/


.pc_global_nav ul li{
  list-style: none;
}
.pc_nav_title{
  font-size:3.0rem;

  color: #fff;
}
.pc_global_nav ul li a{
  text-decoration: none!important;
  display: block;
  padding: 0.5rem;
  margin:  0.5rem 0;
  font-size: 1.6rem;
  color: #fff;
}
.pc_global_nav ul li a {
  overflow: hidden; /* 1つ目の影を隠す */
  color: transparent; /* テキスト本体は透明にする */
  text-shadow: 0 -1.6em 0 #ffffff, 0 0 0 #ffffff;
  transition: text-shadow 0.3s;
}

.pc_global_nav ul li a:hover {
  text-shadow: 0 0 0 #ffffff, 0 1.5em 0 #ffffff; /* 2つの影の位置を上方向に1.5emずつずらす */
}

.pc_global_nav ul li a .title_number{
  font-size: 1.0rem;
  padding-right:3px;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* ヘッダーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.content_wrapper header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 1px));
  width: 100%;
  max-width: 500px;
  z-index: 10;
  background: white;
  box-sizing: border-box; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.header__logo img {
  max-width: 90px;
  height: auto;
}
.header__logo{
padding-left: 10px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* スクロールーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* スクロール箱 */
.container_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

}
  /* スクロール可能なエリア */  
.content_wrapper {
  width: 100%;
  max-width:500px; /* スマホ最大幅 */
  height: 100vh;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
  background-color: #ffffff;
  padding-top: 100px;
}
.content_wrapper::-webkit-scrollbar{
  display: none;
}
.content_inner{
  position: relative;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* 下のLINE登録ボタン ーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.content_wrapper .footer_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  z-index: 999;
}
.footer_btn_wrapper{
  width: 500px;
}

.footer_btn img {
  display: block;
  width: 100%;
  height: auto;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* タイトル（アンカー先）ーーーーーーーーーーーーーーーーーーーーーーーー */
.visually-hidden {
  position: absolute;       
  width: 1px;                  
  height: 1px;
  margin: -1px;                
  clip: rect(0, 0, 0, 0);      
  overflow: hidden;          
}
#sec01,#sec02,#sec03,#sec04,#sec05,#sec06,#sec07,#sec08,#sec09,#sec10{
  scroll-margin-top: 100px; 
}
#sec11 {
  scroll-margin-top: 140px; 
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* メインコンテンツーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/*メインビジュアル*/
.main_visiual_wrapper{
  background-color: #e5dcd3;
}
.main_visiual img{
  max-width: 100%;
  height: auto;
}
.main_visual_btn img{
  max-width:100%;
  height:auto;
}
.sec01_wrapper,.sec02_wrapper{
  background-color: #fff;  
}
/* 施術めにゅーーーーーーーーーーーーーーーーーーーーーーーーー*/
h2#sec04{
  width: 100%;
  height: 100%;
}
.sec04_wrapper{
  background-color: #F6EDD3;
}
.sec04_menu01,
.sec04_menu02 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  max-width:95%;
  margin: 0 auto;
  width: 100%;
  pointer-events: none;
}
.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: relative;
}
/* 施術紹介ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.sec04_table {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.sec04_table img {
  display: inline-block;
  height: auto;
  min-width: 512px;
}
.sec04_btn{
  width:90%;
  margin: 0 auto;
}
/* 目元整形ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.sec05_wrapper{
  background-color: #ffffff;
}
.sec05_menu01,
.sec05_menu02 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  max-width:95%;
  margin: 0 auto;
  width: 100%;
  pointer-events: none;
}
.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: relative;
}
.sec05_btn{
  width:95%;
  margin: 0 auto;
}
/* スライダーーーーーーーーーーーーーーーーーーーーーー */
.swiper-slide img {
  width: 70%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
  width: 50px !important;
  background-color: #bc8e319b;
  border-radius: 50%;
  height: 50px !important;
}
.sec06_wrapper{
  background-image: url(../img/bg01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  display: none;
}
/* .swiper-button-prev, .swiper-rtl .swiper-button-next{
  display: none!important;
} */
/* ---------------------------------- */
/* アコーディオンーーーーーーーーーーーーー */

/* ーーーーーーーーーーーーーーーーーーーーー */
.sec07_wrapper{
  max-height: 100%;
  width: 100%;
  background-color: #F6EDD3;
}
.sec09_wrapper #sec09{
  width: 90%;
  margin: 0 auto;
}

.sec10_inner{
  position: relative;
  max-width: 500px;
  height: auto;
}
.sec10_cotent_bg{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 500px;
  width:90%;
  height: auto;
}
.sec10_cotent{
  position: absolute;
  top:14%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0%);
}
.sec10_cotent h3{
  text-align: center;
  color: #C40003;
  margin-bottom:10px ;
  font-size: 20px;
}
.sec10_cotent p{
  font-size: 14px;
  margin: 5% 0;
}
.sec09_wrapper{
background-image: url(../img/section10_bg.png);
}
.sec09_wrapper .fade-in{
text-align: center;
}
.sec10_coten_bottom{
  width: 100%;
  background-image: url(../img/section10_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0; 
}
.sec10_coten_bottom p{
  width: 85%;
  margin: 10px auto;
}

/* タブーーーーーーーーーーーーーーーーーーーーーーーーーー */
.sec11_panel_item{
  margin-bottom: 20px;
}
.sec11_panel_item p{
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 15%;
  width: 80%;
  margin: 0 auto;
}
.sec11_panel_item .tab_title{
  text-align: center;
  color: #BA9B6D;
  font-weight: 400;
  font-style: Bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 20%;
  padding: 20px 0 10px 0;
}
.sec11_panel_item .tab_img{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
/* コピーライトーーーーーーーーーーーーーーーーーーーーーーー */
.copyright_box{
  text-align: center;
  background-color: #ffffff;
  color: #fff;
  padding: 10px 0;
  height: 210px;
}
.copyright_box small{
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 25px;
letter-spacing: 15%;
background-color: #000;
display: block;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 動きーーーーーーーーーーーーーーーーーーーーーーーー */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* media screen ーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
@media screen and (max-width:940px) {
  .background_logo{
    display: none;
  }
  .pc_global_nav{
    display: none;
  }
  .content_wrapper header {
    transform: translateX(-50%);
  }
  .copyright_box{
    height: 200px;
  }
}
@media screen and (max-width:400px) {
  .sec10_cotent{
    top:10%;
    width: 85%;
  }
  .sec10_cotent p{
    font-size:12px;
    margin: 2% 0;
  }
  .sec10_cotent h3{
    font-size: 15px;
    margin-bottom: 5px;
  }
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーー */